<div class="card nested-section" data-section-block>
  <%= f.hidden_field :_destroy, value: "0", data: { destroy_field: true } %>

  <div class="nested-section-head">
    <h3>Section</h3>
    <button type="button" class="btn btn-danger" data-remove-nested>Remove Section</button>
  </div>

  <div class="field">
    <%= f.label :title, "Section Title" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :position, "Section Position" %>
    <%= f.number_field :position %>
  </div>

  <div class="nested-group" data-content-group="video">
    <div class="nested-group-head">
      <h4>Videos</h4>
      <button type="button" class="btn btn-secondary" data-add-video>Add More Video</button>
    </div>
    <div data-videos-container>
      <%= f.fields_for :videos do |video_fields| %>
        <%= render "video_fields", f: video_fields %>
      <% end %>
    </div>
    <template data-video-template>
      <%= f.fields_for :videos, Video.new, child_index: "NEW_VIDEO" do |video_fields| %>
        <%= render "video_fields", f: video_fields %>
      <% end %>
    </template>
  </div>

  <div class="nested-group" data-content-group="image">
    <div class="nested-group-head">
      <h4>Images</h4>
      <button type="button" class="btn btn-secondary" data-add-image>Add More Image</button>
    </div>
    <div data-images-container>
      <%= f.fields_for :images do |image_fields| %>
        <%= render "image_fields", f: image_fields %>
      <% end %>
    </div>
    <template data-image-template>
      <%= f.fields_for :images, Image.new, child_index: "NEW_IMAGE" do |image_fields| %>
        <%= render "image_fields", f: image_fields %>
      <% end %>
    </template>
  </div>

  <div class="nested-group" data-content-group="text">
    <div class="nested-group-head">
      <h4>Text</h4>
      <button type="button" class="btn btn-secondary" data-add-text>Add More Text</button>
    </div>
    <div data-texts-container>
      <%= f.fields_for :text_contents do |text_fields| %>
        <%= render "text_fields", f: text_fields %>
      <% end %>
    </div>
    <template data-text-template>
      <%= f.fields_for :text_contents, TextContent.new, child_index: "NEW_TEXT" do |text_fields| %>
        <%= render "text_fields", f: text_fields %>
      <% end %>
    </template>
  </div>
</div>
