<div class="nested-item" data-nested-item>
  <%= f.hidden_field :_destroy, value: "0", data: { destroy_field: true } %>
  <div class="field">
    <%= f.label :title, "Video Title" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, "Video Description" %>
    <%= f.text_area :description, rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :file, "Video File" %>
    <%= f.file_field :file %>
  </div>
  <button type="button" class="btn btn-secondary" data-remove-nested>Remove Video</button>
</div>
