<h1 class="page-title">Create User</h1>

<div class="card">
  <%= form_with model: [:admin, @user] do |f| %>
    <% if @user.errors.any? %>
      <div class="flash alert">
        <h2><%= pluralize(@user.errors.count, "error") %> prevented this user from saving:</h2>
        <ul class="list">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>

    <div class="field">
      <%= f.label :role %>
      <%= f.select :role, User::ASSIGNABLE_ROLES.map { |role| [role.humanize, role] } %>
    </div>

    <div class="field">
      <label>Unions</label>
      <%= f.collection_check_boxes :union_ids, @available_unions, :id, :name %>
    </div>

    <%= f.submit "Create User", class: "btn" %>
  <% end %>
</div>

<div class="actions">
  <%= link_to "Back", admin_users_path, class: "btn btn-secondary" %>
</div>
